.game-board {
    display: flex;
    flex-flow: column nowrap;
}

.board-status {
    font-size: 16px;
    font-weight: 500;
    color: rgb(94 94 94);
    position: sticky;
    top: 0;
    left: 0;
    padding: 10px;
    background-color: rgb(255 255 255 / 90%);
}

.board-grid {
    display: grid;
    gap: 1px 1px;
    grid-template-columns: repeat(var(--board-grid-width), min-content);
    grid-template-rows: repeat(var(--board-grid-height), min-content);
    width: 100%;
    overflow: auto;
}

.board-grid button {
    border: none;
    width: 50px;
    height: 50px;
}

.board-grid button:hover {
    background-color: rgb(134 217 189 / 50%);
    cursor: pointer;
}
