.game-board {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.board-status {
    font-size: 16px;
    font-weight: 500;
    color: rgb(94 94 94);
    padding-bottom: 5px;
}

.board-grid {
    display: grid;
    justify-content: center;
    gap: 1px 1px;
    grid-template-columns: repeat(var(--board-grid-width), min-content);
    grid-template-rows: repeat(var(--board-grid-height), min-content);
}

.board-grid button {
    border: none;
    width: 50px;
    height: 50px;
}

.board-grid button:hover {
    background-color: rgb(134 217 189 / 50%);
    cursor: pointer;
}
